h1 {
    font-size: 24px;
    color: rgb(255, 0, 0);
    font-weight: bold;
    font-style: italic;
}

h2 {
    font-size: 24px;
    color: #0000ff;
    font-weight: bold;
}

h3 {
    font-size: 16px;
    color: teal;
    font-weight: bold;
}

p {
    color: #4D4D4D ;
}

.p1 {
    font-weight: bold;
    color: rgb(255, 0, 0);
}

a {
    color: #8A2BE2;
    text-decoration: none;
}

header {
    height: 25vh;
    width: 100%;
    background-position: center;
    background-image:url(img/Undertale.png);
    background-size: cover;
    background-position: center;
}

img{
    width: 50%;
}

article {
    border: 1px solid black;
    border-radius: 15px;
    border-left-width: 10px;
}