* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
#index-body {
  font-family: "Goldman", cursive;
  background-image: url(/img/background.jpeg); 
  background-size: cover;
}

nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
  
   
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}

.h1-index {
  position: absolute;
  top: 60%;
  left: 50%;
  color: white;
  font-size: 500%;
  text-align: center;
  transform: translate(-50%,-50%);
  
}


.goldman-regular {
  font-family: "Goldman", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.goldman-bold {
  font-family: "Goldman", sans-serif;
  font-weight: 700;
  font-style: normal;
}



footer {
  color: aliceblue;
  background-color: #00a8c7;
  font-size: 20px;
  padding: 50px;
  text-align: center;
  position: absolute;
  top: 85%;
  left: 0px;
  right: 0px;
  bottom: 0px;

}

/* contact */

#H1-contact {
  position: absolute;
  font-size:400%;
  left: 42%;
  top: 20%;
}


#verstuur-ber {
  background-color: #00a8c7;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 500px;
  position: absolute;
  left: 32%;
  top: 70%;
}


#div-contact {
  position: absolute;
  left: 32%;
  top: 27%;
}

.formStyle {
  font-weight: bolder;
  font-size:medium;
}

.contact-html {
  font-family: "Goldman", cursive;
}

.contact-input{
  width: 500px;
  height: 30px;
  border-radius: 5px;
}

#bericht {
  height: 130px;
  text-align:initial;
}


/* html/css */

#h1-html {
  position: absolute;
  font-size: 400%;
  right: 43%;
  top: 25%;

  
}



.htmlimg1 {
position: absolute;
width: 30%;
left: 150px;
top: 250px;
z-index: -2;
height: 300px;
}

#p-html {
position: absolute;
left: 800px;
width: 30vw;
font-size:large;
top: 300px;

}

.h2__html {
position:absolute;
color: black;
height: 40px;
font-size: 200%;
text-align: center;
right: 530px;
top: 270px;

}


.blue {
color: blue;

}

.red {
color: red;

}

#html-body {
  font-weight:100;
}


footer {
color: aliceblue;
background-color: #00a8c7;
font-size: 20px;
padding: 50px;
text-align: center;
position: absolute;
top: 85%;
left: 0px;
right: 0px;
bottom: 0px;

}

.goldman-regular {
font-family: "Goldman", sans-serif;
font-weight: 400;
font-style: normal;
}

.goldman-bold {
font-family: "Goldman", sans-serif;
font-weight: 700;
font-style: normal;
}

body {
  font-family: "goldman", cursive;
}

#javascript-img {
  position: absolute;
  right: 20%;
  top: 35%;
  z-index: -2;
  height: 240px;
 }


#p-javascript {
  position: absolute;
  left: 20%;
  top: 35%;
  width: 35vw;
  font-size:large;
  color: white;
 }


 #h2-javascript {
  color: white;
  height: 40px;
  font-size: 200%;
  text-align: center;
  position: absolute;
  left: 20%;
  top: 30%;
 }

.yellow {
  color: yellow;
  background: none;
}

#javascript-body{
  background-color: black;
}

#h1-javascript {
  position: absolute;
  top: 20%;
  right: 40%;
  font-size: 400%;
  color: white;
  
}

.goldman-regular {
  font-family: "Goldman", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.goldman-bold {
  font-family: "Goldman", sans-serif;
  font-weight: 700;
  font-style: normal;
}

#php-h1 {
  position: absolute;
  font-size: 400%;
  right: 43%;
  top: 25%;

  
}

.php-img {
position: absolute;
width: 30%;
left: 150px;
top: 250px;
z-index: -2;
height: 300px;
}

.php-p {
position: absolute;
left: 800px;
width: 30vw;
font-size:large;
top: 300px;

}

.php-h2 {
color: black;
height: 40px;
font-size: 200%;
text-align: center;
position:absolute;
right: 615px;
top: 270px;

}

mark.purple {
background: none;
color: #8993BE;
}

.sql-img {
  position: absolute;
  right: 20%;
  top: 35%;
  z-index: -2;
  height: 140px;
 }


.sql-p {
  position: absolute;
  left: 20%;
  top: 35%;
  width: 30vw;
  font-size:large;
  color: white;
 }


 .sql-h2 {
  color: white;
  height: 40px;
  font-size: 200%;
  text-align: center;
  position: absolute;
  left: 20%;
  top: 30%;
 }

mark.orange {
  color: #E48E00;
  background: none;
}

#sql-body{
  background-color: black;
}

.sql-h1 { 
  position: absolute;
  top: 20%;
  right: 40%;
  font-size: 400%;
  color: white;
  
}
